# Ignore .env file
.env

# Ignore Docker related files
# .dockerignore

# Ignore node_modules (if using Node.js)
node_modules/

# Ignore compiled Python files
# *.pyc
# *.pyo
# __pycache__/s

# Ignore log files
*.log

# Ignore temporary files
*.swp
*.swo

# Ignore IDE/editor files
.vscode/
.idea/

# Ignore system files
.DS_Store
Thumbs.db
docker-complete.md
docker-installation.md
docker-fullstack.md
docker-image.md
